
<div class="row">
  <h1 class="title-header">Contact</h1>
  <div class="title-line-break"></div>
  <div class="col-sm-12" id="contact-style">
    <div id="contact-info-background" onmouseover="this.style.borderColor='#FFF';" onmouseout="this.style.borderColor='#3399FF';">
      <h4 id="name-header">Matthew Reid</h4>
      <h6 class="contact-info">Email: 18reidm@gmail.com</h6>
      <h6 class="contact-info">Phone: 1(778)952-5199</h6>
      <h6 class="contact-info">Location: Vancouver B.C, Canada</h6>
      <a href="https://ca.linkedin.com/pub/matt-reid/93/827/7ab">
        <img id="linkedInIMG" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="180" height="35" border="0" alt="View Matt Reid's profile on LinkedIn"></a>
      </div>
    </div>
  </div>
</div>