<div class="jumbotron">
  <p class="lead">
    <img class="profileIMG" src="images/profileIMG.jpg" alt="Matt Reid profile IMG"><br>
    Front End Developer with strong attention to detail.  Creating mobile responsive web development with HTML5, CSS3, Bootstrap and jQuery.
  </p>
</div>

<div class="row marketing">
  <h2>Expertise</h2>
  <h4><a href="http://html5.com">HTML5</a></h4>
  <p>I write code that conforms to the W3C's web standards and semantic best–practices. I use technologies like HTML5 for structure and presenting content for the web.</p>
  <h4><a href="https://developer.mozilla.org/en/docs/Web/CSS/CSS3">CSS3</a></h4>
  <p>I use CSS3 for styling my web applications, that conform to the W3C's web standards.  CSS3 is used for the design and layout for the web applications.</p>
  <h4><a href="https://jquery.com/">jQuery</a></h4>
  <p>I enjoy using jQuery, to transform static artwork into pixel-perfect, interactive and fully functional interfaces; exactly the way your designers intended them to be.</p>
  <h4><a href="https://angularjs.org/">AngularJS</a></h4>
  <p>I like using AngularJS to add structure for building client-side web applications.</p>
  <h4><a href="http://getbootstrap.com/">Bootstrap</a></h4>
  <p>Bootstrap is my preferred open-source front-end framework.  Using bootstrap increases the speed of development, responsiveness, consistency and it's fully customizeable.</p>
</div>
