<script type="text/javascript">
  $(document).ready(function() {        
      $('.carousel').carousel({
        interval: 3000
      });
    });
</script>
<h1 class="title-header">Photography</h1>
<div class="col-sm-12" id="carousel">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/images/img-1.jpg" alt="English Bay" style="height:400px">
          <div class="carousel-caption">
            English Bay
          </div>
        </div>
        <div class="item">
          <img src="/images/img-2.jpg" alt="West End at night." style="height:400px">
          <div class="carousel-caption">
            Vancouver west end at night
          </div>
        </div>
        <div class="item">
          <img src="/images/img-3.jpg" alt="English Bay sunset." style="height:400px">
          <div class="carousel-caption">
            Cheakamus River, enjoying the sun!
          </div>
        </div>
        <div class="item">
          <img src="/images/img-4.jpg" alt="Sea to Sky Highway." style="height:400px;">
          <div class="carousel-caption">
            Mount Tantalus, Sea to Sky Highway
          </div>
        </div>
        <div class="item">
          <img src="/images/img-5.jpg" alt="Sea to Sky Highway." style="height:400px;">
          <div class="carousel-caption">
            Paradise Valley, Sea to Sky Highway
          </div>
        </div>
        <div class="item">
          <img src="/images/img-6.jpg" alt="Sea to Sky Highway." style="height:400px;">
          <div class="carousel-caption">
            Paradise Valley, Sea to Sky Highway
          </div>
        </div>
        <div class="item">
          <img src="/images/img-7.jpg" alt="Sea to Sky Highway." style="height:400px;">
          <div class="carousel-caption">
            Cheakamus River, Sea to Sky Highway
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
