<div class="row">
  <h1 class="title-header">Projects</h1>
  <div class="title-line-break2"></div>
  <div class="col-sm-12">
    <h6 class="projects-header">Co-Pilot</h6>
    <img class="co-pilot-img" src="/images/co-pilot.png">
    <p class="projects-description">Co-Pilot is a rails app that helps you plan your trip while on the go.  Allows you to change your waypoints and destinations.</p>
    <div class="projects-list">
      <ul> Built using:
        <li>Rails</li>
        <li>jQuery</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Google Maps API</li>
        <li>Google Places API</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h6 class="projects-header">What's in your fridge?</h6>
    <img class="whats-in-your-fridge-img" src="/images/whats-in-your-fridge.png">
    <p class="projects-description">What's in your fridge is a Ruby app that allows user to search recipes based on ingredients they have in there fridge.</p>
    <div class="projects-list">
      <ul> Built using:
        <li>Ruby</li>
        <li>jQuery</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Yummly API</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h6 class="projects-header">+1 Health</h6>
    <img class="plus-one-health-img" src="/images/plus-one-health.png">
    <p class="projects-description">+1 Health is a Ruby app that makes eating healthy and exercise a friendly competition.  Users add a +1 for exercise and a -1 for unhealthy food choices.</p>
    <div class="projects-list">
      <ul> Built using:
        <li>Ruby</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
      </ul>
    </div>
  </div>
</div>
  </div>